header { 
	position: fixed;
	top: -5%;
	width: 100%;
	height: 5%;
	background-color: #fff;
	z-index: 100;	
	display: flex;
	justify-content: space-between;
	transition: transform 2s;
	transform: translateY(+100%);
}

header > img {
	 height: 100%;
}

.right-container {
    display: flex;
}

.bell  {
    color: #bec9da;
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin: 0 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.bell:hover  {
    color: #768499;
}

.avatar { 
    border-radius: 50%;
    width: 38px;
    height: 38px;
    background-color:#f8991c;
    color: rgb(255, 255, 255);
    display: flex;
    overflow: hidden;
    position: relative;
    font-size: 1.75rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 5;
}

.avatar:hover {
    background-color:#bd7517;
}

.avatar-wp input {
    display: block;
    position: absolute;
    cursor: pointer;
    margin-top: -38px;
    opacity: 0;
    z-index: 222;
    width: 40px;
    height: 40px;  
    -webkit-touch-callout: none;
}

.avatar-wp input:checked + .menu {
    display: block;
}

.menu {
    display: none;
    position: absolute;
    width: 150px;
    margin-left: -112px;
    padding: 10px;
    background: #ffffff;
    z-index: 0;
    box-shadow: -1px 5px 17px -7px rgba(0,0,0,.23);
}

.menu li {
    padding: 10px 0;
    font-size: 22px;  
}

.menu span {
    display: block; 
    width: 120px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #ccc;
}

.menu a:first-child li {
    color: #ccc;
    text-align: center;
    font-size: 12px;  
}

.menu a:first-child li {
    font-size: 15px;  
}

.menu a {
    text-decoration: none;
    color: #000;
}

.menu li:hover {
    background: rgba(102, 102, 128, 0.055);
}