.btn-join-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-join-container > button {
    background-color: rgb(71, 134, 206);
    color: #fff;  
    border: none;
    outline: none;
    padding: 10px 30px;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
}

.btn-join-container > button:hover {
    background-color: rgb(33, 104, 184);  
}

.main-content-wrapper{
    width: 100%; 
    padding-bottom:50%; 
    position: relative;
}

.main-content {  
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    display: grid;      
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.content {
    overflow: auto;    
    position: absolute;
    max-height: 100%;
    padding: 10px;    
    font-weight: 600;
    color: #000;
    font-size: 1.8vw;  
}

.content-small-bloc {    
    overflow-y: auto;  
    padding: 5px;    
    color: #000;
    position: absolute;
    max-height: 100%;
    font-size: 1.8vw;  
}

.contacts {
    position: absolute;
    max-height: 100%;
}

.social-icons-container {
    overflow: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.social a {
    text-align: center;
    font-size: 2.5em;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 5px 5px 0;
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 30px rgba(0,0,0,0.2);
    padding: 4px;
    color: #000;
    cursor: pointer;
}

.instagram a:hover {
    background: #3f729b;
    color: #fff;
}

.facebook a:hover {
    background: #3b5998; 
    color: #fff;
}

.telegram a:hover {
    background: #249bd7; 
    color: #fff;
}

.card {
    display: grid;   
    overflow: hidden;
    position: relative;
    background-color: #fff;  
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    display: grid; 
    transition: transform 1s;
    z-index: 1;
    align-items: center;
    justify-content: center;
    font-size: 8vw;
    color: #fff;  
}

.bsa-card {  
    grid-column: 1 / span 4;
    grid-row: 1 / span 4;       
}

.qa-card {
    grid-column: 1 / span 4;
    grid-row: 5 / span 4;
}

.js-card {
    grid-column: 5 / span 4;
    grid-row: 1 / span 6;
}

.java-card {
    grid-column: 5 / span 4;
    grid-row: 7 / span 2;
}

.php-card {
    grid-column: 9 / span 8;
    grid-row: 1 / span 3;
}

.dot-net-card {  
    grid-column: 9 / span 5;
    grid-row: 4 / span 5;
}

.events-card {
    grid-column: 14 / span 3;
    grid-row: 4 / span 2;
}

.blog-card {
    grid-column: 14 / span 3;
    grid-row: 6/ span 2;
}

.contacts-card{
    grid-column: 14 / span 3;
    grid-row: 8/ span 1;  
}

.bsa-overlay {
    background-image: url('../images/bsa.jpg');
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: cover;
    background-position: center; 
}

.qa-overlay {
    background-color:#52bf77;
}

.js-overlay {
    background-color:#f7cf69;
    align-items: end;
    justify-content: right;
    font-weight: 700;
    color: #000;
}

.java-overlay {
    background-color:#e12b4c; 
    font-size: 3.0vw;  
}

.php-overlay {
    background-color:#8893c0;
    color: #000;
    font-style: italic;
}

.dot-net-overlay {
    background-color:#642077;
}

.events-overlay {
    background-color:#2d99ff;
    font-size: 1.6vw;  
}

.blog-overlay {
    background-color:#0443a3;
    font-size: 1.6vw;  
}

.contacts-overlay {
    background-color:#00255f;
    font-size: 1.6vw;  
}

.bsa-card:hover .bsa-overlay {
    transform: translateY(+100%);
}

.qa-card:hover .qa-overlay {
    transform: translateY(-100%);
}

.js-card:hover .js-overlay {
    transform: translateX(+100%);
}

.java-card:hover .java-overlay {
    transform: translateY(+100%) scaleY(0);
}

.php-card:hover .php-overlay {
    transform: translate(+100%, -100%) scale(0,0);
}

.dot-net-card:hover .dot-net-overlay {
    transform: translate(+100%, +100%) scale(0,0);

}

.events-card:hover .events-overlay {
    transform: translateX(+100%);
}

.blog-card:hover .blog-overlay {
    transform: translateX(+100%);
}

.contacts-card:hover .contacts-overlay {
    transform: translateX(+100%);
}

@media all and (max-width: 965px) {

    .main-content-wrapper {
        width: 100%; 
        padding-bottom:100%;
        position: relative;
    }

    .main-content {  
        position: absolute;
        top: 0;
        left: 0;
        min-height: 100%;
        min-width: 100%;
        display: grid;      
        grid-template-columns: repeat(18, 1fr);
        grid-template-rows: repeat(16, 1fr);
    }

    .bsa-card {  
        grid-column: 1 / span 8;
        grid-row: 1 / span 8;    
    }

    .js-card {
        grid-column: 9 / span 6;
        grid-row: 1 / span 8;
    }

    .events-card {
        grid-column: 15 / span 4;
        grid-row: 1 / span 3;
    }
    
    .blog-card {
        grid-column: 15 / span 4;
        grid-row: 4/ span 3;
    }
    
    .contacts-card {
        grid-column: 15 / span 4;
        grid-row: 7/ span 2;  
    }

    .java-card {
        grid-column: 1 / span 9;
        grid-row: 9 / span 4;
    }
    .qa-card {
        grid-column: 1 / span 9;
        grid-row: 13 / span 4;
    }  

    
    .php-card {
        grid-column: 10/ span 9;
        grid-row: 9 / span 4;
    }
    
    .dot-net-card {  
        grid-column: 10 / span 9;
        grid-row: 13 / span 4;
    }
    
  }