.messages-container {
	display: flex;
	flex-direction: column-reverse;
	position: fixed;
	right: 50px;
    bottom: 50px;
    z-index: 1000;
}

.message {
    background-color: gray;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;  
    flex-direction: row;
    display: flex;
    width: 220px;
    align-items: center;
    margin-top: 10px;
}

.m-error {
    background-color: rgba(209, 55, 47, 0.9);
}

.m-success {
    background-color: rgba(107, 171, 107, 0.9);
}

.m-warning {
    background-color: rgba(250, 169, 68, 0.9);
}

.m-info {
    background-color: rgba(68, 201, 251, 0.9);
}

.m-error::before {
    content: "\f06a";
}

.m-success::before {
    content: "\f058";
}

.m-warning::before {
    content: "\f058";
}

.m-info::before {
    content: "\f05a";
}

.m-info::before,
.m-warning::before,
.m-success::before,
.m-error::before {
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 15px;
    font-size:24px;
    text-align: center;     
}

.title {
    font-size: 18px;
    font-weight: 600;
}