@import url('reset.css');
@import url('header.css');
@import url('main-content.css');
@import url('messages.css');
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
* {
	box-sizing: border-box;
}

html,
body {
    height: 100%;
	background-color: #f6f7fc;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}

.wrapper {
	display: flex;
	flex-direction: column;
    min-height: 100%;    
}

.main-content-container {
	flex: 1 0 auto;
	margin-top: calc(100vh /10);
	margin-bottom: calc(100vh /20);
}

footer {
	min-height:calc(100vh /20);
	text-align: center;
	align-items: center;
	display: grid; 
	font-weight: 700;
	font-size: 1.6vw; 
}

header,
.main-content-container,
footer {
	padding: 0 10%;
}

@media all and (max-width: 965px) { 
	header,
	.main-content-container,
	footer {
		padding: 0 5%;
	}
}